body {
    font-family: Tahoma, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #22241b;
}

div,
form,
input,
p,
a,
span {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    display: block;
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

/*Header*/
.header {
    background-color: #000;
    height: 100vh;
    color: #fff;
}

.header .container {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 8%;
    width: 100%;
}

.menu {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.menu__item a {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid pink;
}

.menu__add {
    margin: 5px 0;
}

/*
.ui-menu {
    width: 400px;
}

.ui-menu a {
    display: block;
    text-decoration: none;
}
*/

.mail {
    color: #fff;
    text-decoration: none;
}

.arrow {
    position: absolute;
    left: 50%;
    margin-left: -19px;
    bottom: 8%;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: block;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 40%;
    margin-top: -30px;
    width: 100%;
}

h1 span {
    display: block;
    font-size: 30px;

}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: bg-position 30s linear infinite, bg-color 6s linear infinite;
}

.background {
    background: url(../img/bg.png) center top / cover;
}

/*Animation for header*/

@keyframes bg-color {
    from {
        background-color: #010035;
    }

    20% {
        background-color: #C4F4EB;
    }

    40% {
        background-color: #010035;
    }

    to {
        background-color: #010035;
    }
}

@keyframes bg-position {
    100% {
        background-position: 0px -500px;
    }
}

/*    Section About*/

.about {
    padding: 75px 0;
}

.flex-container {
    display: flex;
}

.wrapper {
    justify-content: space-between;
}

.wrapper__info {
    width: 460px;
}

.wrapper__text {
    text-align: justify;
    line-height: 1.5em;
}

.wrapper__item {
    text-align: justify;
    line-height: 1.5em;

}
